/************************************** app.css **************************************

 This file contains app-specific styles that override Yeti, so use this
 carefully! Styles in here should only apply very narrowly, and should probably be 
 moved to Yeti as component variants.

************************************** app.css **************************************/



/************************************** Page Templates ***/
.app-page-wizard {
    min-width: min-content;
    width: min(100%, 62.375rem);
    margin: 3rem auto;
    padding: 3rem;
}

.app-page-wizard-pane {
    border: 1px solid #c6c6c6;
}

body:has(.app-page-wizard)::after {
    content: '';
    width: 1px;
    height: 1px;
    display: block;
}

.app-page-conductor {
    margin: 3rem auto 0;
    max-width: min(100vw, 90rem);
    padding: 0 3rem 3rem;
}



/************************************** Typography ***/
.app-typo-line_height-default {
    line-height: 1.125rem;
}



/************************************** Header ***/
.app-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0 2rem;
}

.app-nav-utility {
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1.563rem;
    flex: 1 0 auto;
    justify-content: flex-end;
}

.app-nav-utility-item {
    display: flex;
    align-items: center;
}



/************************************** Carbon Tables ***/
.app-carbon_table-wrapper {
    min-width: min-content;
}



/************************************** Insert Token ***/
.app-insert_token-menu {
    background-color: white;
    max-height: min(32rem, 80vh);
}

.app-insert_token-menu :is(.yeti-menu_button-menu-item-button, .yeti-menu_button-menu-item-link) {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.app-insert_token-menu-object {
    display: flex;
    flex-direction: column;
    line-height: 1.25rem;
}

.app-insert_token-menu-key {
    font-weight: bold;
}



/************************************** Summary Definition List ***/
.app-summary_list {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    line-height: 1.25rem;
}

.app-summary_list-term {
    font-weight: 700;
}
.app-summary_list-term,
.app-summary_list-definition {
    padding: 0.25rem 1rem 0.25rem 0;
}



/************************************** Random Component Variants ***/
.app-tooltip-file_path {
    max-width: 67vw;
    overflow-wrap: anywhere;
}



/************************************** Icon Buttons ***/
.app-button_icon,
.app-button_icon:hover,
.app-button_icon:focus {
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: unset;
    text-decoration: none;
}



/************************************** (Conductor) Status Summary ***/
/*** Divided List ***/
.app-status_summary-divided_list {
    display: inline-flex;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4375rem; /* 127.778% */
    color: #161616;
}

/* Items */
.app-status_summary-divided_list-item {
    height: 0.875rem;
    display: flex;
    align-items: center;
}
.app-status_summary-divided_list-item:not(:last-child) {
    padding-right: 0.5rem;
}
.app-status_summary-divided_list-item:not(:first-child) {
    border-left: 1px solid #a8a8a8;
    padding-left: 0.5rem;
}