/************************************** accordion.less ***************************************

Styles for Accordion

*************************************** accordion.less **************************************/



/************************************** Accordion ***/
yeti-accordion,
yeti-accordion-section { display: contents; }

.yeti-accordion {
    border: 1px solid #c6c6c6;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}



/************************************** Section ***/
.yeti-accordion-section {
    display: flex;
    flex-direction: column;
}
yeti-accordion-section:last-child .yeti-accordion-section {
    border-bottom: none;
}

.yeti-accordion-section-content,
.yeti-accordion-section-actions {
    display: none;
}

.yeti-accordion-section__open :is(.yeti-accordion-section-content, .yeti-accordion-section-actions) {
    display: block;
}


/*** Heading ***/
.yeti-accordion-section-heading {
    .yeti-mixin-button-vanilla();
    background-color: transparent;
    padding: 0 1.5rem;
    text-align: left;
    color: #525252;
    width: 100%;
}
.yeti-accordion-section-heading:focus-visible {
    .yeti-mixin-focus-default();
    outline-offset: 0;
}
.yeti-accordion-section-heading[disabled] {
    cursor: default;
}

[status="undefined"] .yeti-accordion-section-heading {
    color: #c6c6c6;
}

.yeti-accordion-section-heading-contents {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid #e0e0e0;
}
.yeti-accordion-section__open .yeti-accordion-section-heading:focus-visible .yeti-accordion-section-heading-contents,
yeti-accordion-section:has(.yeti-accordion-section-heading:focus) + yeti-accordion-section .yeti-accordion-section-heading-contents {
    border-top: 1px solid transparent;
}
yeti-accordion-section:first-of-type .yeti-accordion-section-heading-contents {
    border-top: none;
}

.yeti-accordion-section-heading-actual {
    flex: 1 1 max-content;
    min-width: min-content;
    margin: 0;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4375rem;
    letter-spacing: 0.01rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 1rem;
    max-height: 100%;
}
.yeti-accordion-section-openable .yeti-accordion-section-heading:hover .yeti-accordion-section-heading-actual { text-decoration: underline; }

.yeti-accordion-section-heading-caret {
    width: 1rem; // Trim the fat
    display: inline-flex;
    justify-content: center;
    font-size: 2rem;
}

/* Status Icon */
.yeti-accordion-section-status_icon-success { color: #24a148; }
.yeti-accordion-section-status_icon-error   { color: #da1e28; }


/*** Content ***/
.yeti-accordion-section-content {
    margin: 0.75rem 1.5rem 0 2.75rem;
}


/*** Actions ***/
.yeti-accordion-section-actions {
    margin: 2rem 1.5rem 2.75rem 2.75rem;
}

.yeti-accordion-section-actions .yeti-button {
    gap: 0.25rem;
}
.yeti-accordion-action-button-icon {
    width: 0.5rem;
    display: inline-flex;
    justify-content: center;
}