/************************************** form.less ***
 *
 * Styles for Form
 *
****************************************************/


/************************************** Form (top-level) ***/
.yeti-form {
    display: flex;
    flex-direction: column;
}



/************************************** Required Key ***/
yeti-required-key { display: contents; }

.yeti-form-required-key {
    color: #da1e28;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}



/************************************** Required Symbol ***/
yeti-required-symbol { display: contents; }

.yeti-form-required-symbol {
    color: #da1e28;
    display: inline-flex;
    align-items: center;
    height: 0.681875rem;
    width: 0.625rem;
    background-image: url('data:image/svg+xml,<svg width="10" height="10.91" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Icon awesome-asterisk" d="M9.73349 7.66348L6.7059 5.99943L9.73349 4.33538C9.79316 4.30257 9.84568 4.25818 9.88796 4.2048C9.93024 4.15143 9.96144 4.09015 9.97972 4.02455C9.998 3.95896 10.003 3.89037 9.9944 3.82282C9.98582 3.75527 9.96383 3.69012 9.92972 3.63118L9.51483 2.91241C9.4808 2.8535 9.43536 2.80198 9.38116 2.76085C9.32697 2.71973 9.26511 2.68983 9.19922 2.67291C9.13333 2.656 9.06472 2.6524 8.99742 2.66233C8.93011 2.67226 8.86547 2.69552 8.80727 2.73076L5.85145 4.52488L5.92546 1.06783C5.92695 0.999741 5.91483 0.932043 5.8898 0.868706C5.86478 0.805369 5.82735 0.747669 5.77972 0.698994C5.73209 0.650319 5.67521 0.611649 5.61243 0.585255C5.54966 0.55886 5.48224 0.545272 5.41413 0.545288H4.58435C4.51625 0.545272 4.44883 0.55886 4.38605 0.585255C4.32327 0.611649 4.2664 0.650319 4.21877 0.698994C4.17114 0.747669 4.13371 0.805369 4.10868 0.868706C4.08366 0.932043 4.07153 0.999741 4.07303 1.06783L4.14815 4.52376L1.19121 2.73188C1.13302 2.69665 1.06837 2.67338 1.00107 2.66345C0.933768 2.65352 0.86516 2.65712 0.799266 2.67403C0.733372 2.69095 0.671516 2.72085 0.617322 2.76197C0.563128 2.8031 0.517686 2.85462 0.483656 2.91353L0.0687651 3.6323C0.0346582 3.69124 0.0126666 3.75639 0.00408086 3.82394C-0.00450492 3.89149 0.000488087 3.96008 0.0187668 4.02567C0.0370455 4.09127 0.0682417 4.15255 0.110525 4.20593C0.152808 4.2593 0.205326 4.30369 0.264997 4.3365L3.29258 6.00055L0.264997 7.6646C0.205326 7.6974 0.152808 7.74179 0.110525 7.79517C0.0682417 7.84854 0.0370455 7.90983 0.0187668 7.97542C0.000488087 8.04102 -0.00450492 8.1096 0.00408086 8.17715C0.0126666 8.2447 0.0346582 8.30985 0.0687651 8.36879L0.483656 9.08756C0.517686 9.14647 0.563128 9.198 0.617322 9.23912C0.671516 9.28025 0.733372 9.31014 0.799266 9.32706C0.86516 9.34398 0.933768 9.34758 1.00107 9.33764C1.06837 9.32771 1.13302 9.30445 1.19121 9.26922L4.14815 7.47621L4.07303 10.9321C4.07153 11.0002 4.08366 11.0679 4.10868 11.1313C4.13371 11.1946 4.17114 11.2523 4.21877 11.301C4.2664 11.3497 4.32327 11.3883 4.38605 11.4147C4.44883 11.4411 4.51625 11.4547 4.58435 11.4547H5.41413C5.48224 11.4547 5.54966 11.4411 5.61243 11.4147C5.67521 11.3883 5.73209 11.3497 5.77972 11.301C5.82735 11.2523 5.86478 11.1946 5.8898 11.1313C5.91483 11.0679 5.92695 11.0002 5.92546 10.9321L5.85145 7.47621L8.80727 9.27034C8.86547 9.30557 8.93011 9.32883 8.99742 9.33876C9.06472 9.3487 9.13333 9.3451 9.19922 9.32818C9.26511 9.31126 9.32697 9.28137 9.38116 9.24024C9.43536 9.19912 9.4808 9.14759 9.51483 9.08868L9.92972 8.36991C9.96383 8.31098 9.98582 8.24582 9.9944 8.17827C10.003 8.11072 9.998 8.04214 9.97972 7.97654C9.96144 7.91095 9.93024 7.84966 9.88796 7.79629C9.84568 7.74291 9.79316 7.69852 9.73349 7.66572V7.66348Z" fill="%23DA1E28"/></svg>');
    //background-size: 0.681875rem 0.625rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}



/************************************** Label ***/
.yeti-form-label {
    font-size: 0.875rem;
    line-height: 1rem;
    display: inline-flex;
    color: #525252;
    min-height: 1.25rem;
    line-height: 1rem;
    vertical-align: baseline;
    align-items: center;
    font-weight: 600;
    color: #525252;
    letter-spacing: 0.02rem;
    gap: 0.5rem;
}
.yeti-form-field .yeti-form-label {
    padding-bottom: 0.25rem;
}

.yeti-form-label-required-wrapper {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
}


/************************************** Tip ***/
.yeti-form-tip {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    width: 100%;
    color: #525252;
}

.yeti-form-tip-above { order: -1; }
.yeti-form-field:has(.yeti-form-tip-above) .yeti-form-label { order: -2; }


/************************************** Field Error ***/
.yeti-form-field-error {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    width: 100%;
    color: #da1e28;
}


/************************************** Field ***/
yeti-field {
    display: contents;
}

.yeti-form-field:not(.yeti-form-field-inline) {
    display: flex;
    flex-direction: column;
    gap: 0.25rem; // 4px to match Carbon (note: Carbon labels use 5px bottom margin)
}

.yeti-form-field-inline {
    display: grid;
    gap: 0.25rem 1rem;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: minmax(min-content, max-content) 1fr;
}

.yeti-form-field-inline .yeti-form-label {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}

.yeti-form-field-inline .yeti-form-tip {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}