/************************************** select.less ***************************************

Styles for Select

*************************************** select.less **************************************/



/************************************** Basic Select Styles ***/
.yeti-select {
    -webkit-appearance: none;
    appearance: none;
    background-color: #f4f4f4;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    border-radius: 0;
    color: #161616;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    height: 2.5rem;
    letter-spacing: .16px;
    line-height: 1.28572;
    opacity: 1;
    outline: 2px solid #0000;
    outline-offset: -2px;
    padding: 0 2rem 0 1rem;
    transition: outline 70ms cubic-bezier(.2,0,.38,.9);

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='xMidYMid meet' xmlns='http://www.w3.org/2000/svg' fill='%23161616' width='16' height='16' viewBox='0 0 16 16' %3E%3Cpath d='M8 11L3 6 3.7 5.3 8 9.6 12.3 5.3 13 6z'%3E%3C/path%3E%3C/svg%3E");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yeti-select:focus {
    color: #161616;
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}

.yeti-select:hover {
    background-color: #e8e8e8;
}

.yeti-select-option {
    background-color: #e8e8e8;
    color: #161616;
}