/************************************** table.css ***************************************

Styles for Table

*************************************** table.css **************************************/



/************************************** Basic Table Styles ***/
yeti-table {
    display: contents;
}

.yeti-table {
    width: 100%;
    border-collapse: separate; // Not collapse in order to achieve the nested table indent effect.
    border-spacing: 0;
    height: 1px;
    /* Tables are still weird. Needed to make yeti-table-heading-compound fill full cell height? */

    /* Table-related custom properties */
    --table-expando_column_width: 3.25rem;
}

.yeti-table__nested {
    --table-expando_column_width: 4.25rem;
}
.yeti-table__nested .yeti-table__nested {
    --table-expando_column_width: 5.25rem;
}

.yeti-table:has(.yeti-table__nested) {
    --table-expando_column_width: 4.25rem;
}

.yeti-table-heading:not(.yeti-table-numeric, .yeti-table-control),
.yeti-table-cell:not(.yeti-table-numeric, .yeti-table-control) {
    text-align: left;
}


/*** Styles Common to Both Headings and Cells ***/
/*
    Note: these look more daunting than they are. Basically, we want the padding
    to look the same, regardless of how complicated the th's child tree is, so 
    these just set it on the inner-most applicable element.
*/
.yeti-table-heading:not(:has(.yeti-table-heading-compound)),
.yeti-table-heading-compound .yeti-table-heading-button,
.yeti-table-heading-compound-actual,
.yeti-table-heading-filter,
.yeti-table-cell {
    padding-left: 0.75rem; // This is a default, but it gets complicated. See the Table Cell Left Padding section below.
    padding-right: 0.75rem;
    line-height: 1.28572;
}

.yeti-table-heading:last-child:not(:has(.yeti-table-heading-compound)),
.yeti-table-heading:last-child .yeti-table-heading-button,
.yeti-table-heading:last-child .yeti-table-heading-compound-actual,
.yeti-table-heading:last-child .yeti-table-heading-filter,
.yeti-table-cell:last-child {
    padding-right: 1rem;
}


/*** Headings ***/
.yeti-table-head {
    background-color: @color-gray-20;
    font-size: 0.875rem;
    letter-spacing: 0.01rem;
    line-height: 1.42857;
    text-wrap: balance;
}

.yeti-table__has_sticky_header .yeti-table-head {
    position: sticky;
    top: 0;
    z-index: 3;
}

.yeti-table-heading {
    font-weight: 600;
    height: 100%;
}

.yeti-table-heading:not(:has(.yeti-table-heading-compound)) {
    vertical-align: bottom;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

:not(.yeti-table-body) .yeti-table-heading {
    vertical-align: bottom;
}

.yeti-table-heading-compound {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}


/*** Body Cells ***/
.yeti-table-body {
    background-color: @color-gray-10;
}

.yeti-table-body-row:not(.yeti-table-body-row.yeti-table-body-row-nested_table_wrapper) {
    color: #525252;
}

.yeti-table-body-row :is(.yeti-table-cell, .yeti-table-heading) {
    border-bottom: 1px solid @color-gray-20;
}

.yeti-table-body-row-summary {
    background-color: @color-creekside-gray-lighter;
    font-weight: 700;
}

.yeti-table-body-row:not(.yeti-table-body-row-nested_table_wrapper):hover > :is(.yeti-table-cell, .yeti-table-heading) {
    background-color: #e5e5e5;
    color: @color-gray-100;
}
.yeti-table-body-row:hover .yeti-table-cell {
    border-bottom-color: #e5e5e5;
}

.yeti-table-cell {
    padding-bottom: 0.8125rem;
    padding-top: 0.8125rem;
    height: 3rem;
}

.yeti-table-body .yeti-table-heading,
.yeti-table-cell {
    vertical-align: middle;
}

.yeti-table-body-row:has(.yeti-radio:checked) {
    background-color: @color-gray-20;
}

.yeti-table-body-row:has(.yeti-radio:checked):hover {
    background-color: #d1d1d1;
}

.yeti-table-body-row:has(.yeti-radio:checked):hover .yeti-table-cell {
    border-bottom-color: #d1d1d1;
}



/************************************** Row and Cell States ***/
.yeti-table-body-row__selected {
    background-color: rgb(253, 243, 221);
}



/************************************** Alpha (default) and Numeric ***/
.yeti-table-numeric {
    text-align: right;
}

.yeti-table-numeric:has(+ :not(.yeti-table-numeric)) {
    padding-right: 2rem; // If it's a numeric cell (right-aligned) next to a cell that isn't numeric (left-aligned), add a little extra padding.
}

.yeti-table-control {
    text-align: center;
}



/************************************** Scrollable ***/
.yeti-table__scrollable {
    width: 100%;
    overflow-x: auto;
}

.yeti-table__scrollable:focus-visible {
    .yeti-mixin-focus-default();
}



/************************************** Fixed Columns ***/
.yeti-table__fixed {
    table-layout: fixed;
}

.yeti-table__fixed .yeti-table-cell:not(.yeti-table-control, .yeti-table-cell-row_actions, .yeti-table-cell-can_overflow) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.yeti-table__fixed .yeti-table-grid-16 { width: calc(100% / 16 * 16); }
.yeti-table__fixed .yeti-table-grid-15 { width: calc(100% / 16 * 15); }
.yeti-table__fixed .yeti-table-grid-14 { width: calc(100% / 16 * 14); }
.yeti-table__fixed .yeti-table-grid-13 { width: calc(100% / 16 * 13); }
.yeti-table__fixed .yeti-table-grid-12 { width: calc(100% / 16 * 12); }
.yeti-table__fixed .yeti-table-grid-11 { width: calc(100% / 16 * 11); }
.yeti-table__fixed .yeti-table-grid-10 { width: calc(100% / 16 * 10); }
.yeti-table__fixed .yeti-table-grid-9  { width: calc(100% / 16 * 9); }
.yeti-table__fixed .yeti-table-grid-8  { width: calc(100% / 16 * 8); }
.yeti-table__fixed .yeti-table-grid-7  { width: calc(100% / 16 * 7); }
.yeti-table__fixed .yeti-table-grid-6  { width: calc(100% / 16 * 6); }
.yeti-table__fixed .yeti-table-grid-5  { width: calc(100% / 16 * 5); }
.yeti-table__fixed .yeti-table-grid-4  { width: calc(100% / 16 * 4); }
.yeti-table__fixed .yeti-table-grid-3  { width: calc(100% / 16 * 3); }
.yeti-table__fixed .yeti-table-grid-2  { width: calc(100% / 16 * 2); }
.yeti-table__fixed .yeti-table-grid-1  { width: calc(100% / 16 * 1); }



/************************************** Table Actions ***/
.yeti-table-actions {
    min-height: 2.5rem;
    background-color: @color-gray-10;
    border-top: 1px solid @color-gray-20;
}

yeti-table-actions[use-grid] yeti-table-action {
    display: flex;
    align-items: center;
}

.yeti-table-actions-links {
    display: flex;
    padding: 0 0.25rem;
}

.yeti-table-actions-links-item {
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.yeti-table-actions-links-item:not(:last-child) {
    border-right: 1px solid #8d8d8d;
}

.yeti-table-actions-link:focus-visible {
    .yeti-mixin-focus-default();
    outline-offset: 0.6875rem;
}


/************************************** Pagination ***/
.yeti-table-pagination {
    min-height: 2.5rem;
    display: flex;
    justify-content: flex-end;
}


/*** Items Per Page ***/
.yeti-table-pagination-items_per_page {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.yeti-table-pagination-items_per_page-label {
    font-size: revert;
    color: revert;
    margin-right: 0.0625rem;
}

.yeti-table-pagination-items_per_page-label::first-letter {
    text-transform: capitalize;
}

.yeti-table-pagination-items_per_page-select,
.yeti-table-pagination-pages-select {
    min-height: 100%;
    background-color: @color-gray-10;
    border: 0;
    padding-right: 2.25rem;
    width: auto;
}

.yeti-table-pagination-items_per_page-select,
.yeti-table-pagination-items_per_page-select-option {
    text-transform: capitalize;
}

.yeti-table-pagination-items_per_page-count {
    border-left: 1px solid @color-gray-20;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    line-height: 1.28572; // To match adjacent select
    vertical-align: middle;
}


/*** __ of Pages ***/
.yeti-table-pagination-pages {
    display: flex;
    align-items: center;
    border-left: 1px solid @color-gray-20;
}

.yeti-table-pagination-pages-of_pages {
    margin-left: 0.0625rem;
    margin-right: 1rem;
    line-height: 1.28572; // To match adjacent select
    vertical-align: middle;
}

.yeti-table-pagination-pages-buttons {
    display: flex;
    min-height: 100%;
    padding-left: 1px;
    background-color: @color-gray-20;
    gap: 1px;
}

.yeti-table-pagination-pages-buttons-button {
    background-color: @color-gray-10;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 2.5rem;
    color: @color-gray-100;
}

.yeti-table-pagination-pages-buttons-button:hover:not(:disabled) {
    background-color: @color-creekside-gray-light;
}

.yeti-table-pagination-pages-buttons-button:focus-visible {
    outline: 2px solid @color-blue-primary;
    outline-offset: -2px;
}

.yeti-table-pagination-pages-buttons-button:disabled {
    cursor: not-allowed;
    color: #16161640;
}



/************************************** Sorting ***/
.yeti-table-heading-button,
.yeti-table-heading-compound-actual {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-end;
}

.yeti-table-heading-button {
    color: unset;
    text-decoration: none;
    text-align: left;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    background-color: @color-gray-20;
    border: 0;
    box-sizing: border-box;
    color: @color-gray-100;
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    font: inherit;
    margin: 0;
    transition: background-color 70ms cubic-bezier(0, 0, .38, .9), outline 70ms cubic-bezier(0, 0, .38, .9);
    vertical-align: initial;
    width: 100%;
    padding-top: 0.5rem;
}

.yeti-table-heading-button:focus-visible {
    .yeti-mixin-focus-default();
}

.yeti-table-numeric .yeti-table-heading-button {
    justify-content: flex-end;
}

.yeti-table-heading-button:is(:hover, :focus) {
    background-color: #d1d1d1;
}

.yeti-table-heading-button-label {
    padding-top: 0.25rem;
    padding-bottom: 0.125rem; // label is 20px, icon is 24px, we want single-line labels to be vertically centered with icon
    overflow: hidden;
    text-overflow: ellipsis;
}

.yeti-table-head-row:not(:has(.yeti-table-heading-filter)) .yeti-table-heading-compound:not(:has(.yeti-table-heading-filter)) .yeti-table-heading-button {
    // Case where there's a button, but it's not above a filter in a row where there are no filters.
    padding-bottom: 0.75rem;
}

.yeti-table-head-row:has(.yeti-table-heading-filter) .yeti-table-heading-compound:not(:has(.yeti-table-heading-filter)),
.yeti-table-head-row:has(.yeti-table-heading-filter) .yeti-table-heading:not(:has(.yeti-table-heading-compound)) {
    // Handle edge case where this heading doesn't have a filter, but at least one sibling does.
    padding-bottom: 3.5rem; // Same as the height of the filter container
}

.yeti-table-head-row:has(.yeti-table-heading-button-icon):has(.yeti-table-heading-filter) .yeti-table-heading:not(:has(.yeti-table-heading-compound)) {
    // Handle edge case where this heading doesn't have a filter or a sort icon, but at least one sibling has a filter and a sort icon.
    padding-top: 0.5rem;
    padding-bottom: 3.7125rem; // Same as the height of the filter container + the space from the container to the bottom of the label
}

.yeti-table-head-row:has(.yeti-table-heading-filter) .yeti-table-heading.yeti-table-cell-clear {
    padding-bottom: 0.75rem;
}

.yeti-table-heading-button .material-icons {
    display: flex;
    justify-content: center;
    margin-right: -0.4375rem;
    /* Set the icon flush with the edge of the content box, just like normal content. */
}



/************************************** Filtering ***/
.yeti-table-heading-filter {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.75rem;
    text-overflow: ellipsis;
}

.yeti-table-numeric .yeti-table-heading-filter {
    justify-content: flex-end;
}

.yeti-table-heading-filter > *,
.yeti-table-heading-filter .yeti-dropdown-wrapper {
    flex: 1 1 auto;
}

.yeti-table-heading-compound-actual {
    padding-top: 0.5rem;
    padding-bottom: 0.125rem; // To match any buttoned siblings
    overflow: hidden;
    text-overflow: ellipsis;
}

.yeti-table-heading-filter-input-wrapper {
    display: flex;
}

.yeti-table-heading-filter-input-wrapper .yeti-input-wrapper {
    flex: 1 1 auto;
}


.yeti-table-cell.yeti-table-cell-clear,
.yeti-table-heading.yeti-table-cell-clear {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    text-align: center;
}

.yeti-table-filter-clear-button {
    .yeti-mixin-button-vanilla();
    border: 0;
    background: 0;
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    height: 2.5rem;
}

.yeti-table-filter-clear-button:focus-visible {
    .yeti-mixin-focus-default();
}

.yeti-table-filter-clear-button:hover {
    background-color: #d1d1d1;
}

.yeti-table-heading-filter :is(.yeti-input, .yeti-select, .yeti-dropdown, .yeti-date-button, .yeti-table-heading-filter-input-button) {
    background-color: white;
    border: 1px solid #525252;
}

.yeti-table-heading-filter :is(.yeti-date-button, .yeti-table-heading-filter-input-button) {
    border-left: 0;
}

.yeti-table-heading-filter-input-button {
    width: 2.5rem;
    flex: 0 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

   
}

.yeti-table-heading-filter :is(.yeti-input, .yeti-select, .yeti-dropdown, .yeti-date-button, .yeti-table-heading-filter-input-button):hover {
    background-color: @color-gray-10;
}



/************************************** Row Actions ***/
.yeti-table-cell-row_actions {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}



/************************************** Progress Bar Cells ***/
.yeti-table-cell-has_progress_bar,
.yeti-table-cell:has(yeti-progress-bar) {
    padding-top: 0.40625rem;
    padding-bottom: 0.40625rem;
}



/************************************** Expand/Collapse ***/
/*** Cells ***/
.yeti-table-heading-expando,
.yeti-table-cell.yeti-table-cell-expando {
    width: var(--table-expando_column_width);
    padding: 0.75rem 0 0.75rem 0.75rem;
}

.yeti-table-expando_button {
    .yeti-mixin-button-vanilla();
    background-color: transparent;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
}

.yeti-table-expando_button:focus-visible {
    .yeti-mixin-focus-default();
}

.yeti-table-body-row-child_row {
    background-color: white;
}

.yeti-table-body-row-child_row__hidden {
    display: none;
}

.yeti-table-body-row-child_row-has_summary_parent:is(.yeti-table-body-row-child_row) {
    background-color: unset;
}



/************************************** Nested Tables ***/
.yeti-table {
    --yeti-table__nested-wrapping_cell_padding-top:    1rem;
    --yeti-table__nested-wrapping_cell_padding-right:  1rem;
    --yeti-table__nested-wrapping_cell_padding-bottom: 1rem;
    --yeti-table__nested-wrapping_cell_padding-left:   1rem;
}

.yeti-table-body-row-nested_table_wrapper__inert { display: none; }


.yeti-table-body-row.yeti-table-body-row-nested_table_wrapper > .yeti-table-cell {
    border-bottom-color: @color-gray-30;
}

.yeti-table-cell.yeti-table-cell-nested_table_wrapper {
    padding-top:    var(--yeti-table__nested-wrapping_cell_padding-top);
    padding-bottom: var(--yeti-table__nested-wrapping_cell_padding-bottom);
    background-color: @color-yellow-10;
}

tr:not(.yeti-table-body-row-nested_table_wrapper__has_expandable_parent_row) .yeti-table-cell.yeti-table-cell-nested_table_wrapper {
    padding-right:  0; //var(--yeti-table__nested-wrapping_cell_padding-right);
}
tr.yeti-table-body-row-nested_table_wrapper__has_expandable_parent_row .yeti-table-cell.yeti-table-cell-nested_table_wrapper {
    padding-right:  0; //var(--yeti-table__nested-wrapping_cell_padding-right);
}

.yeti-table__nested_table_stacker {
    display: flex;
    flex-direction: column;
    gap: var(--yeti-table__nested-wrapping_cell_padding-top);
}

.yeti-table__nested .yeti-table__nested .yeti-table-body {
    background-color: white;
}


/*** Grid adjustments when within a nested table ***/
/*
 *  Note: because the grid system is percentage-based, each column is a percentage of the total width of the table.
 *  In the case of nested tables, where the nested table is narrower than its parent (due to padding on the parent's
 *  containing cell), the column widths will be *different than the parent's*, which means the grid system no longer
 *  aligns. The following hacks are to work around this issue.
*/
.yeti-table__nested {
    --table-shifting_compensation-padding-right: 0.75rem; // After we shift the first column's cells over, we need to compensate for the newly created overlap with the second column's cell by adding padding to the right of column 1's cell. Since the cell usually* (see expando override below) has a padding-right of 0.75rem, that'll be our initial starting point for the first column's right padding.
}

:is(.yeti-table-heading-expando, .yeti-table-cell-expando) {
    --table-shifting_compensation-padding-right: 0rem; // Cells in a column containing an expando button control are different in that they have no right padding.
}

/*
.yeti-table__has_a_descendant_with_expandable_rows
.yeti-table__has_expandable_rows
*/
.yeti-table__nested:not(.yeti-table__nested .yeti-table__nested) > :is(thead, tbody) > tr > :is(td, th):not(.yeti-table-cell-nested_table_wrapper):first-child {
    // Shift the entire first column of cells in nested tables over to the right, and add right padding so their 
    // content won't collide with column 2. Note that we don't need to do this for nested tables whose parents
    // have expandable rows, since we're just using padding on the wrapper cell to mimic the parent's expando column.
    position: relative;
    left: var(--yeti-table__nested-wrapping_cell_padding-left);
    padding-right: calc( var(--table-shifting_compensation-padding-right) + var(--yeti-table__nested-wrapping_cell_padding-left));
}

.yeti-table__nested :is(td, th):not(.yeti-table-cell-nested_table_wrapper):last-child {
    // Shift the entire last column of cells in nested tables over to the left, and add left padding so their 
    // content won't collide with column n-1.
    position: relative;
    right: var(--yeti-table__nested-wrapping_cell_padding-right);
    padding-left: calc(0.75rem + var(--yeti-table__nested-wrapping_cell_padding-right));
}


/*** Nested Nested FML ***/
.yeti-table__nested .yeti-table-cell-nested_table_wrapper {
    background: @color-yellow-10 linear-gradient(to right, transparent, transparent 1rem, @color-gray-10 1rem, @color-gray-10 calc(100% - 1rem), transparent calc(100% - 1rem));
    border-bottom: 0;
}

.yeti-table__nested tr:has(.yeti-table-cell-nested_table_wrapper) + tr > :is(td, th) {
    border-top: 1px solid @color-gray-30;
}

.yeti-table__nested .yeti-table__nested:not(.yeti-table__has_a_descendant_with_expandable_rows .yeti-table__nested) > :is(thead, tbody) :is(td, th):not(.yeti-table-cell-nested_table_wrapper):first-child {
    // Shift the entire first column of cells in nested tables over to the right, and add right padding so their 
    // content won't collide with column 2. Note that we don't need to do this for nested tables whose parents
    // have expandable rows, since we're just using padding on the wrapper cell to mimic the parent's expando column.
    position: relative;
    left: calc(2 * var(--yeti-table__nested-wrapping_cell_padding-left));
    padding-right: calc(0.75rem + (2 * var(--yeti-table__nested-wrapping_cell_padding-left)));
}

.yeti-table__nested .yeti-table__nested :is(td, th):not(.yeti-table-cell-nested_table_wrapper):last-child {
    // Shift the entire last column of cells in nested tables over to the left, and add left padding so their 
    // content won't collide with column n-1. Ignore this rule for cells that wrap a nested table.
    position: relative;
    right: calc(2 * var(--yeti-table__nested-wrapping_cell_padding-right));
    padding-left: calc(0.75rem + (2 * var(--yeti-table__nested-wrapping_cell_padding-right)));
}

.yeti-table__nested .yeti-table-cell.yeti-table-cell-nested_table_wrapper:first-child {
    position: unset;
    padding-right: 0;
}




/********************* Table Cell Left Padding ***/

/* 
    The value for the left padding of the first cell in a table row depends on multiple variables, each of which is shown below
    and prefixed with @table-fcpla- (fcpla = first-cell padding-left adjustment). The final value is the sum of all the various
    adjustments.
*/
.yeti-table {
    --table-fcpla-default: 1rem; // Only for top-level tables (i.e. nested tables use the smaller value shown below)
    --table-fcpla-summary_row: 0rem; // Must use units, even for 0, or the calc function will give up.
    --table-fcpla-table_nesting: 0rem;
    --table-fcpla-ancestor_table_nesting: 0rem;
    --table-fcpla-expando: 0rem;
}

// Nested
.yeti-table__nested {
    --table-fcpla-default: 0.75rem;
}

// Summary Row
.yeti-table-body-row-summary {
    --table-fcpla-summary_row: 3.5rem;
}

// Parent
.yeti-table:has(.yeti-table__nested) {
    --table-fcpla-default: 0.75rem;
    --table-fcpla-table_nesting: 1rem;
}

// Grandparent
.yeti-table:has(.yeti-table__nested .yeti-table__nested) {
    --table-fcpla-table_nesting: 2.0rem;
}

// If you're a nested table within a grandparent
.yeti-table:has(.yeti-table__nested .yeti-table__nested) .yeti-table__nested {
    --table-fcpla-table_nesting: 1rem;
}

// If you're a nested, nested table within a grandparent
.yeti-table:has(.yeti-table__nested .yeti-table__nested) .yeti-table__nested .yeti-table__nested {
    --table-fcpla-table_nesting: 0rem;
}

// If your child table contains an expandable row, but you don't
.yeti-table__has_a_descendant_with_expandable_rows:not(.yeti-table__has_expandable_rows) {
    --table-fcpla-expando: 2.25rem; // Original width of the expando column before we compensate for the extra padding we had to add when shifting
}

// If you wrap a nested, nested table within a grandparent or parent that has expandable rows
.yeti-table__has_a_descendant_with_expandable_rows .yeti-table-cell-nested_table_wrapper:is(.yeti-table__nested .yeti-table-cell-nested_table_wrapper) {
    --table-fcpla-expando: 4.25rem;
}

// If both you and your child have expandable rows
.yeti-table__has_a_descendant_with_expandable_rows.yeti-table__has_expandable_rows {
    --table-fcpla-expando: 1rem;
}

// Wrapper Cell: Reset everything to 0.
.yeti-table-cell-nested_table_wrapper {
    --table-fcpla-default: 0rem;
    --table-fcpla-summary_row: 0rem;
    --table-fcpla-table_nesting: 0rem;
    --table-fcpla-expando: 0rem;
}

// Ancestor has expando column, but you don't
.yeti-table__has_a_descendant_with_expandable_rows .yeti-table-cell-nested_table_wrapper:not(:has(.yeti-table__has_expandable_rows)) {
    --table-fcpla-expando: 2.25rem;
}

:is(td, th) {
    background: linear-gradient(to right, black, black 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.1) 100%);
}

.yeti-table-cell-expando,
.yeti-table-heading-expando {

    --table-fcpla-table_nesting: 0rem;
    --table-fcpla-default: 0.75rem;
    --table-fcpla-summary_row: 0rem;

    width: calc(
          var(--table-expando_column_width)
    );

    background-color: rgba(0, 0, 0, 0.5);
}

.yeti-table-expando_button {
    background-color: pink;
}

// Final Calculation
:is(.yeti-table-heading, .yeti-table-cell):first-child {
    padding-left: calc(
          var(--table-fcpla-default) 
        + var(--table-fcpla-summary_row)
        + var(--table-fcpla-table_nesting)
        + var(--table-fcpla-expando)
    );
}