/************************************** toast.less ***************************************

Styles for toast

*************************************** toast.less **************************************/



/************************************** Settings ***/

.yeti-toast:not(.yeti-toast-error, .yeti-toast-success, .yeti-toast-warning, .yeti-toast-warning_alt, .yeti-toast-high_contrast),
.yeti-toast-info { 
    --color-background: @color-blue-10;
    --color-accent: @color-blue-70;
}

.yeti-toast-error {
    --color-background: @color-red-10;
    --color-accent: @color-red-error;
}

.yeti-toast-success { 
    --color-background: #defbe6;
    --color-accent: @color-green-success;
}

.yeti-toast-warning,
.yeti-toast-warning_alt  {
    --color-background: #fdf6dd;
    --color-accent: @color-creekside-yellow-dark;
}


/*** High contrast ***/
.yeti-toast-high_contrast {
    --color-background: @color-gray-80;
    --color-foreground: white;
}

.yeti-toast.yeti-toast-high_contrast:not(.yeti-toast-error, .yeti-toast-success, .yeti-toast-warning, .yeti-toast-warning_alt),
.yeti-toast-info.yeti-toast-high_contrast        { --color-accent: @color-blue-50; }
.yeti-toast-error.yeti-toast-high_contrast       { --color-accent: @color-red-50; }
.yeti-toast-success.yeti-toast-high_contrast     { --color-accent: @color-green-40; }
.yeti-toast-warning.yeti-toast-high_contrast,
.yeti-toast-warning_alt.yeti-toast-high_contrast { --color-accent: @color-creekside-yellow-dark; }



/************************************** Wrapper ***/
.yeti-toast-wrapper {
    display: block;
    transition: all 0.2s ease-out;
    transition: all 0.2s ease-out allow-discrete,
                opacity 0.1s linear allow-discrete;
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
    height: calc-size(auto, size);
}

.yeti-toast-wrapper.yeti-toast-wrapper__closed,
.yeti-toast-stack .yeti-toast-wrapper.yeti-toast-wrapper__closed {
    height: 0;
    min-height: 0;
    opacity: 0;
    display: none;
    margin-bottom: 0;
}

.yeti-toast-wrapper__closed .yeti-toast {
    min-height: 0;
}



/************************************** Actual ***/
yeti-toast {
    display: contents;
}

.yeti-toast {
    background-color: var(--color-background);
    width: 18rem;
    min-width: 18rem;
    min-height: 3rem;
    color: var(--color-foreground);
    border-left: 3px solid var(--color-accent);
    padding-left: 1rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);

    font-size: .875rem;
    letter-spacing: 0.01rem;
    line-height: 1.42857;

    display: flex;
}
.yeti-toast:not(:has(.yeti-toast-close)) {
    padding-right: 1rem;
}

.yeti-toast:not(.yeti-toast-high_contrast) {
    border: 1px solid var(--color-accent);
    border-left-width: 3px;
}

.yeti-toast-high_contrast a {
    color: @color-blue-40;
}



/************************************** Icon ***/
.yeti-toast-icon {
    flex: 0 0 1.25rem;
    padding-top: 0.88rem;
    padding-right: 0.5rem;
    color: var(--color-accent);
}

.yeti-toast-icon .material-icons {
    font-size: 1.25rem;
}



/************************************** Content ***/
.yeti-toast-content {
    flex: 1 1 auto;
    padding: 0.9375rem 1rem 1.25rem 0;
    gap: 1.25rem 0;

    line-height: 1.125rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.yeti-toast-content-text-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.yeti-toast-content-text-subtitle {
    word-break: break-word;
}



/************************************** Actions ***/
.yeti-toast-high_contrast .yeti-toast-action:not(:hover, :focus, :focus-visible, :active) {
    border-color: @color-blue-40;
    color: @color-blue-40;
}



/************************************** Close ***/
.yeti-toast-close {
    flex: 0 0 auto;
    .yeti-mixin-button-vanilla();
    background-color: transparent;
    color: var(--color-foreground);
    width: 3rem;
    height: 3rem;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: none;
}

.yeti-toast-close:focus-visible {
    outline: 2px solid @color-blue-primary;
    outline-offset: -1px;
}
.yeti-toast-high_contrast .yeti-toast-close:focus-visible {
    outline-color: @color-white;
}

.yeti-toast-close .material-icons {
    font-size: 1rem;
}



/************************************** Visibility ***/
.yeti-toast__hidden {
    display: none;
}



/************************************** Sizing ***/
.yeti-toast_full {
    max-width: unset;
    width: unset;
}

.yeti-toast_full .yeti-toast-content {
    display: unset;
}



/************************************** Stacks ***/
.yeti-toast-stack {
    width: min-content;
}

.yeti-toast-stack .yeti-toast-wrapper {
    margin-bottom: 1rem;
}

.yeti-toast-stack__stuck {
    position: fixed;
    top: 6rem;
    right: 1.5rem;
    z-index: 100;
}

.yeti-toast-stack__inert {
    display: none;
}