/************************************** colors.less ***
 *
 * Utilities > Colors
 *
****************************************************/


/************************************** Background ***/
.yeti-color-bg-white { background-color: white; }
.yeti-color-bg-red   { background-color: red; }
.yeti-color-bg-blue  { background-color: blue; }
.yeti-color-bg-black { background-color: black; }
.yeti-color-bg-green { background-color: green; }

/*** Gray ***/
.yeti-color-bg-gray-0   { background-color: white; }
.yeti-color-bg-gray-10  { background-color: @color-gray-10; }
.yeti-color-bg-gray-20  { background-color: @color-gray-20; }
.yeti-color-bg-gray-30  { background-color: @color-gray-30; }
.yeti-color-bg-gray-40  { background-color: @color-gray-40; }
.yeti-color-bg-gray-50  { background-color: @color-gray-50; }
.yeti-color-bg-gray-55  { background-color: @color-gray-55; }
.yeti-color-bg-gray-60  { background-color: @color-gray-60; }
.yeti-color-bg-gray-70  { background-color: @color-gray-70; }
.yeti-color-bg-gray-80  { background-color: @color-gray-80; }
.yeti-color-bg-gray-90  { background-color: @color-gray-90; }
.yeti-color-bg-gray-100 { background-color: @color-gray-100; }


/************************************** Foreground ***/
.yeti-color-white { color: white; }
.yeti-color-red   { color: red; }
.yeti-color-red-error { color: @color-red-error; }
.yeti-color-blue  { color: blue; }
.yeti-color-blue-primary { color: @color-blue-primary; }
.yeti-color-black { color: black; }
.yeti-color-green-success { color: @color-green-success; }


/*** Gray ***/
.yeti-color-gray-0   { color: white; }
.yeti-color-gray-10  { color: @color-gray-10; }
.yeti-color-gray-20  { color: @color-gray-20; }
.yeti-color-gray-30  { color: @color-gray-30; }
.yeti-color-gray-40  { color: @color-gray-40; }
.yeti-color-gray-50  { color: @color-gray-50; }
.yeti-color-gray-55  { color: @color-gray-55; }
.yeti-color-gray-60  { color: @color-gray-60; }
.yeti-color-gray-70  { color: @color-gray-70; }
.yeti-color-gray-80  { color: @color-gray-80; }
.yeti-color-gray-90  { color: @color-gray-90; }
.yeti-color-gray-100 { color: @color-gray-100; }


/*** Red ***/
.yeti-color-red-10 { color: @color-red-10; }
.yeti-color-red-20 { color: @color-red-20; }
.yeti-color-red-30 { color: @color-red-30; }
.yeti-color-red-40 { color: @color-red-40; }
.yeti-color-red-50 { color: @color-red-50; }
.yeti-color-red-60 { color: @color-red-error; }
.yeti-color-red-70 { color: @color-red-70; }
.yeti-color-red-80 { color: @color-red-80; }


/*** Green ***/
.yeti-color-green-40   { color: #42be65; }
.yeti-color-green-50   { color: @color-green-success; }
.yeti-color-green-dark { color: @color-green-dark; }


/*** Blue ***/
.yeti-color-blue-10  { color: @color-blue-10; }
.yeti-color-blue-20  { color: @color-blue-20; }
.yeti-color-blue-30  { color: @color-blue-30; }
.yeti-color-blue-40  { color: @color-blue-40; }
.yeti-color-blue-50  { color: @color-blue-50; }
.yeti-color-blue-60  { color: @color-blue-primary; }
.yeti-color-blue-70  { color: @color-blue-70; }
.yeti-color-blue-80  { color: @color-blue-80; }
.yeti-color-blue-90  { color: @color-blue-90; }
.yeti-color-blue-100 { color: @color-blue-100; }