/************************************** colors.less ***
 *
 * Utilities > Colors
 *
****************************************************/


/************************************** Background ***/
.yeti-color-bg-white { background-color: white; }
.yeti-color-bg-red   { background-color: red; }
.yeti-color-bg-blue  { background-color: blue; }
.yeti-color-bg-black { background-color: black; }
.yeti-color-bg-green { background-color: green; }


/************************************** Foreground ***/
.yeti-color-white { color: white; }
.yeti-color-red   { color: red; }
.yeti-color-red-error { color: #da1e28; }
.yeti-color-blue  { color: blue; }
.yeti-color-blue-primary { color: #0f62fe; }
.yeti-color-black { color: black; }
.yeti-color-green-success { color: #24a148; }