/************************************** colors.less ***
 *
 * Utilities > Colors
 *
****************************************************/


/************************************** Background ***/
.yeti-color-background-white { background-color: white !important; }
.yeti-color-background-red   { background-color: red !important; }
.yeti-color-background-blue  { background-color: blue !important; }
.yeti-color-background-black { background-color: black !important; }
.yeti-color-background-green { background-color: green !important; }


/************************************** Foreground ***/
.yeti-color-foreground-white { color: white !important; }
.yeti-color-foreground-red   { color: red !important; }
.yeti-color-foreground-blue  { color: blue !important; }
.yeti-color-foreground-black { color: black !important; }