/************************************** layout.less ***
 *
 * Utilities > Layout
 *
****************************************************/



/************************************** Layout ***/
.yeti-layout-2_up {
    display: inline-flex;
    align-items: center;
}


/*** Row ***/
.yeti-layout-row {
    display: flex;
    justify-content: flex-start;
}

/* Alignment within Row layout */
.yeti-layout-row-center-vertical {
    align-items: center;
}

.yeti-layout-row-space_between {
    justify-content: space-between;
}



/************************************** Gaps ***/
.yeti-layout-gap-none { gap: 0; }
.yeti-layout-gap-1  { gap: @u; }
.yeti-layout-gap-2  { gap: @u * 2; }
.yeti-layout-gap-3  { gap: @u * 3; }
.yeti-layout-gap-4  { gap: @u * 4; }
.yeti-layout-gap-5  { gap: @u * 5; }
.yeti-layout-gap-6  { gap: @u * 6; }
.yeti-layout-gap-7  { gap: @u * 7; }
.yeti-layout-gap-8  { gap: @u * 8; }
.yeti-layout-gap-9  { gap: @u * 9; }
.yeti-layout-gap-10 { gap: @u * 10; }
.yeti-layout-gap-11 { gap: @u * 11; }
.yeti-layout-gap-12 { gap: @u * 12; }