/************************************** layout.less ***
 *
 * Utilities > Layout
 *
****************************************************/



/************************************** Layout ***/
.yeti-layout-2_up {
    display: inline-flex;
    align-items: center;
}



/************************************** Gaps ***/
.yeti-layout-gap-1 {
    gap: @u;
}