/************************************** margin-and-padding.less ***
 *
 * Utilities > Margins and Padding
 *
****************************************************/


/************************************** Margins ***/
/*** All Sides ***/

/*** Bottom ***/
.yeti-margin-bottom-10 { margin-bottom: @u * 10; }
.yeti-margin-bottom-20 { margin-bottom: @u * 20; }


/************************************** Padding ***/

/*** All Sides ***/
.yeti-padding-4     { padding: @u * 4; }