/************************************** margin-and-padding.less ***
 *
 * Utilities > Margins and Padding
 *
****************************************************/


/************************************** Margins ***/
/*** All Sides ***/

/*** Top ***/
.yeti-margin-top-4  { margin-top: @u * 4; }
.yeti-margin-top-10 { margin-top: @u * 10; }
.yeti-margin-top-20 { margin-top: @u * 20; }

/*** Bottom ***/
.yeti-margin-bottom-10 { margin-bottom: @u * 10; }
.yeti-margin-bottom-20 { margin-bottom: @u * 20; }

/*** Left ***/
.yeti-margin-left-10 { margin-left: @u * 10; }
.yeti-margin-left-20 { margin-left: @u * 20; }



/************************************** Padding ***/

/*** All Sides ***/
.yeti-padding-4     { padding: @u * 4; }


/*** Bottom ***/
.yeti-padding-bottom-10 { padding-bottom: @u * 10; }
.yeti-padding-bottom-12 { padding-bottom: @u * 12; }