/************************************** margin-and-padding.less ***
 *
 * Utilities > Margins and Padding
 *
****************************************************/


/************************************** Margins ***/
/*** All Sides ***/
.yeti-margin-none { margin: 0; }

/*** Top ***/
.yeti-margin-top-none { margin-top: 0; }
.yeti-margin-top-1    { margin-top: @u * 1; }
.yeti-margin-top-2    { margin-top: @u * 2; }
.yeti-margin-top-3    { margin-top: @u * 3; }
.yeti-margin-top-4    { margin-top: @u * 4; }
.yeti-margin-top-5    { margin-top: @u * 5; }
.yeti-margin-top-6    { margin-top: @u * 6; }
.yeti-margin-top-7    { margin-top: @u * 7; }
.yeti-margin-top-8    { margin-top: @u * 8; }
.yeti-margin-top-9    { margin-top: @u * 9; }
.yeti-margin-top-10   { margin-top: @u * 10; }
.yeti-margin-top-11   { margin-top: @u * 11; }
.yeti-margin-top-12   { margin-top: @u * 12; }
.yeti-margin-top-13   { margin-top: @u * 13; }
.yeti-margin-top-14   { margin-top: @u * 14; }
.yeti-margin-top-15   { margin-top: @u * 15; }
.yeti-margin-top-16   { margin-top: @u * 16; }
.yeti-margin-top-17   { margin-top: @u * 17; }
.yeti-margin-top-18   { margin-top: @u * 18; }
.yeti-margin-top-19   { margin-top: @u * 19; }
.yeti-margin-top-20   { margin-top: @u * 20; }

/*** Bottom ***/
.yeti-margin-bottom-none { margin-bottom: 0; }
.yeti-margin-bottom-1    { margin-bottom: @u * 1; }
.yeti-margin-bottom-2    { margin-bottom: @u * 2; }
.yeti-margin-bottom-3    { margin-bottom: @u * 3; }
.yeti-margin-bottom-4    { margin-bottom: @u * 4; }
.yeti-margin-bottom-5    { margin-bottom: @u * 5; }
.yeti-margin-bottom-6    { margin-bottom: @u * 6; }
.yeti-margin-bottom-7    { margin-bottom: @u * 7; }
.yeti-margin-bottom-8    { margin-bottom: @u * 8; }
.yeti-margin-bottom-9    { margin-bottom: @u * 9; }
.yeti-margin-bottom-10   { margin-bottom: @u * 10; }
.yeti-margin-bottom-11   { margin-bottom: @u * 11; }
.yeti-margin-bottom-12   { margin-bottom: @u * 12; }
.yeti-margin-bottom-13   { margin-bottom: @u * 13; }
.yeti-margin-bottom-14   { margin-bottom: @u * 14; }
.yeti-margin-bottom-15   { margin-bottom: @u * 15; }
.yeti-margin-bottom-16   { margin-bottom: @u * 16; }
.yeti-margin-bottom-17   { margin-bottom: @u * 17; }
.yeti-margin-bottom-18   { margin-bottom: @u * 18; }
.yeti-margin-bottom-19   { margin-bottom: @u * 19; }
.yeti-margin-bottom-20   { margin-bottom: @u * 20; }

/*** Left ***/
.yeti-margin-left-none { margin-left: 0; }
.yeti-margin-left-1    { margin-left: @u * 1; }
.yeti-margin-left-2    { margin-left: @u * 2; }
.yeti-margin-left-3    { margin-left: @u * 3; }
.yeti-margin-left-4    { margin-left: @u * 4; }
.yeti-margin-left-5    { margin-left: @u * 5; }
.yeti-margin-left-6    { margin-left: @u * 6; }
.yeti-margin-left-7    { margin-left: @u * 7; }
.yeti-margin-left-8    { margin-left: @u * 8; }
.yeti-margin-left-9    { margin-left: @u * 9; }
.yeti-margin-left-10   { margin-left: @u * 10; }
.yeti-margin-left-11   { margin-left: @u * 11; }
.yeti-margin-left-12   { margin-left: @u * 12; }
.yeti-margin-left-13   { margin-left: @u * 13; }
.yeti-margin-left-14   { margin-left: @u * 14; }
.yeti-margin-left-15   { margin-left: @u * 15; }
.yeti-margin-left-16   { margin-left: @u * 16; }
.yeti-margin-left-17   { margin-left: @u * 17; }
.yeti-margin-left-18   { margin-left: @u * 18; }
.yeti-margin-left-19   { margin-left: @u * 19; }
.yeti-margin-left-20   { margin-left: @u * 20; }

/*** Right ***/
.yeti-margin-right-none { margin-right: 0; }
.yeti-margin-right-1    { margin-right: @u * 1; }
.yeti-margin-right-2    { margin-right: @u * 2; }
.yeti-margin-right-3    { margin-right: @u * 3; }
.yeti-margin-right-4    { margin-right: @u * 4; }
.yeti-margin-right-5    { margin-right: @u * 5; }
.yeti-margin-right-6    { margin-right: @u * 6; }
.yeti-margin-right-7    { margin-right: @u * 7; }
.yeti-margin-right-8    { margin-right: @u * 8; }
.yeti-margin-right-9    { margin-right: @u * 9; }
.yeti-margin-right-10   { margin-right: @u * 10; }
.yeti-margin-right-11   { margin-right: @u * 11; }
.yeti-margin-right-12   { margin-right: @u * 12; }
.yeti-margin-right-13   { margin-right: @u * 13; }
.yeti-margin-right-14   { margin-right: @u * 14; }
.yeti-margin-right-15   { margin-right: @u * 15; }
.yeti-margin-right-16   { margin-right: @u * 16; }
.yeti-margin-right-17   { margin-right: @u * 17; }
.yeti-margin-right-18   { margin-right: @u * 18; }
.yeti-margin-right-19   { margin-right: @u * 19; }
.yeti-margin-right-20   { margin-right: @u * 20; }



/************************************** Padding ***/

/*** All Sides ***/
.yeti-padding-4     { padding: @u * 4; }


/*** Bottom ***/
.yeti-padding-bottom-none,
.yeti-padding-bottom-0  { padding-bottom: 0; }
.yeti-padding-bottom-1  { padding-bottom: @u * 1; }
.yeti-padding-bottom-2  { padding-bottom: @u * 2; }
.yeti-padding-bottom-3  { padding-bottom: @u * 3; }
.yeti-padding-bottom-4  { padding-bottom: @u * 4; }
.yeti-padding-bottom-5  { padding-bottom: @u * 5; }
.yeti-padding-bottom-6  { padding-bottom: @u * 6; }
.yeti-padding-bottom-7  { padding-bottom: @u * 7; }
.yeti-padding-bottom-8  { padding-bottom: @u * 8; }
.yeti-padding-bottom-9  { padding-bottom: @u * 9; }
.yeti-padding-bottom-10 { padding-bottom: @u * 10; }
.yeti-padding-bottom-12 { padding-bottom: @u * 12; }