/************************************** size.less ***
 *
 * Utilities > Size
 *
****************************************************/


/************************************** Width ***/
.yeti-width-1   { width: @u * 1 !important; }
.yeti-width-2   { width: @u * 2 !important; }
.yeti-width-3   { width: @u * 3 !important; }
.yeti-width-4   { width: @u * 4 !important; }
.yeti-width-5   { width: @u * 5 !important; }
.yeti-width-6   { width: @u * 6 !important; }
.yeti-width-7   { width: @u * 7 !important; }
.yeti-width-8   { width: @u * 8 !important; }
.yeti-width-9   { width: @u * 9 !important; }
.yeti-width-10  { width: @u * 10 !important; }
.yeti-width-40  { width: @u * 40 !important; }