/************************************** typography.less ***
 *
 * Utilities > Typography
 *
****************************************************/


/************************************** Size ***/
.yeti-typo-size-2   { font-size: @u * 2; }
.yeti-typo-size-2_5 { font-size: @u * 2.5; }
.yeti-typo-size-3   { font-size: @u * 3; }
.yeti-typo-size-3_5 { font-size: @u * 3.5; }
.yeti-typo-size-4   { font-size: @u * 4; }
.yeti-typo-size-4_5 { font-size: @u * 4.5; }
.yeti-typo-size-5   { font-size: @u * 5; }
.yeti-typo-size-5_5 { font-size: @u * 5.5; }
.yeti-typo-size-6   { font-size: @u * 6; }
.yeti-typo-size-6_5 { font-size: @u * 6.5; }
.yeti-typo-size-7   { font-size: @u * 7; }
.yeti-typo-size-7_5 { font-size: @u * 7.5; }
.yeti-typo-size-8   { font-size: @u * 8; }
.yeti-typo-size-8_5 { font-size: @u * 8.5; }
.yeti-typo-size-9   { font-size: @u * 9; }
.yeti-typo-size-9_5 { font-size: @u * 9.5; }
.yeti-typo-size-10  { font-size: @u * 10; }


/************************************** Decoration ***/
.yeti-typo-decoration-plain { text-decoration: none; }