/************************************** mixins.less ***
 *
 * Yeti-wide mixins
 *
****************************************************/



/************************************** Some Mixins ***/
.u(@uMultiplier) {
    @r: @u * @uMultiplier;
}
// .u(2)[] would return the same as @u * 2.



/************************************** Recurring Treatments ***/
.yeti-mixin-focus-default {
    outline: 2px solid @color-blue-primary;
    outline-offset: -2px;
}

.yeti-mixin-button-vanilla {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    background-color: @color-gray-20;
    border: 0;
    box-sizing: border-box;
    color: @color-gray-100;
    cursor: pointer;
    letter-spacing: 0.16px;
}



/************************************** A11y ***/
.yeti-a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    max-width: 1px;
    max-height: 1px;
    min-width: 1px;
    min-height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}