/************************************** mixins.less ***
 *
 * Yeti-wide mixins
 *
****************************************************/


/************************************** Some Mixins ***/
.u(@uMultiplier) {
    @r: @u * @uMultiplier;
}
// .u(2)[] would return the same as @u * 2.



/************************************** Recurring Treatments ***/
.yeti-mixin-focus-default {
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}